<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>TodoList</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="./vue.js"></script>
</head>
<body>
  <div id="app">
    <input v-model="inputVal" />
    <button v-on:click="handleBtnClick">提交</button>
    <ul>
      <li v-for="item in list">{{item}}</li>
    </ul>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        list: [],
        inputVal: ''
      },
      methods: {
        handleBtnClick: function() {
          this.list.push(this.inputVal);
          this.inputVal = '';
        }
      }
    })
  </script>
</body>
</html>